<!-- Footer -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<footer class="footer text-center text-white" style="background-color: #1c2331;">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" style="background-color: #135269;">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <div class="social-icons">
      <a href="https://www.linkedin.com/" class="text-white me-4"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://www.instagram.com/" class="text-white me-4"><i class="fab fa-instagram"></i></a>
      <a href="https://www.twitter.com/" class="text-white me-4"><i class="fab fa-twitter"></i></a>
      <a href="https://www.facebook.com/" class="text-white me-4"><i class="fab fa-facebook"></i></a>
    </div>
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links -->
  <section class="footer-links">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Lets & Free to Use</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px;" />
          <p>
            CrickWin is an amazing game that attracts thousands of cricket lovers from all over the world. It allows participants to create their own team of professional players and compete with other teams in the virtual space.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">CrickWin</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px;" />
          <p><a href="#!" class="text-white">Players</a></p>
          <p><a href="#!" class="text-white">Teams</a></p>
          <p><a href="#!" class="text-white">Matches</a></p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Useful links</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px;" />
          <p><a href="#!" class="text-white">Your Account</a></p>
          <p><a href="#!" class="text-white">About</a></p>
          <p><a href="#!" class="text-white">Contact Us</a></p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px;" />
          <p><i class="fas fa-home mr-3"></i> Faridabad, Haryana, India</p>
          <p><i class="fas fa-envelope mr-3"></i> crickwin123@crick.com</p>
          <p><i class="fas fa-phone mr-3"></i> + 7093648965</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Links -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white">All rights reserved.</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<style>
  .text-white a {
    text-decoration: none;
  }

  .social-icons a {
    font-size: 20px;
    transition: transform 0.3s;
  }

  .social-icons a:hover {
    transform: scale(1.2);
  }

  .footer-links h6 {
    color: #7c4dff;
  }

  .footer-links a:hover {
    text-decoration: underline;
    color: #7c4dff;
  }

  @media (max-width: 768px) {
    .social-icons {
      flex-direction: column;
      align-items: center;
    }

    .social-icons a {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
</style>
