<%= render "shared/navbar" %>

<div id="carouselExample" class="carousel slide">
		<div class="carousel-inner">
		<div class="carousel-item active">
		    <img src="https://img.freepik.com/premium-photo/modern-cricket-stadium-background_762785-44846.jpg?w=1380" class="d-block w-100 carousel_image" alt="...">
	    <div class="carousel-caption d-md-block">
	       <h1 style="color: white; font-weight:bold;">Top Cricket Ground Based on Location</h1>
	    </div>
	</div>

	<div class="carousel-item">
	  <img src="https://img.freepik.com/premium-photo/d-rendering-cricket-ball-front-cricket-stadium_762785-37798.jpg?w=1380" class="d-block w-100 carousel_image" alt="...">
	  <div class="carousel-caption d-md-block">
	  	<h1 style="color: white; font-weight:bold;"> Ground Based on Cricket</h1>
	  </div>
	</div>

	<div class="carousel-item">
		<img src="https://img.freepik.com/premium-photo/view-cricket-game-field_762785-45048.jpg?w=1380" class="d-block w-100 carousel_image" >
		 <div class="carousel-caption d-md-block">
		 <h1 style="color: white; font-weight:bold;">End Your Ground Search Here </h1>
		  </div>
		</div>
  	 </div>
	  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Previous</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Next</span>
	  </button>
  </div>


</div>


<section class="why_us_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Why Choose Us?
        </h2>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="https://cdn-icons-png.freepik.com/256/1077/1077114.png?semt=ais_hybrid" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Satisfied users
              </h5>
              <p>
                Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in
                Virginia.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="https://cdn-icons-png.flaticon.com/512/1884/1884190.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                24/7 Support
              </h5>
              <p>
                Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in
                Virginia.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/pricing-3934114-3260532.png?f=webp" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Free To use
              </h5>
              <p>
                Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in
                Virginia.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div>
    </div>
  </section>


  <section id="about" class="cont_about_us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center card-carousel-title">
                    <h1 class="section-header-title"> ABOUT <span style="color: #ff0066;">US</span> </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="about-img">
                    <img src="https://images.hindustantimes.com/rf/image_size_640x362/HT/p1/2015/08/02/Incoming/Pictures/1375594_Wallpaper2.jpg" alt="" class="img-fluid" style="height: auto; width: 100%; margin-top: 1rem;">
                </div>
            </div>
            <div class="col-lg-8 col-md-12 pl-1">
                <div class="about-content">
                    <h1 class="h1_about_us d-none d-md-block mt-3">WHAT USERS SAY ABOUT CRICK WIN</h1>
                    <h6 class="h1_bout_us d-md-none">We Provide Best Quality Service Ever</h6>
                    <p class="p_about_us">CrickWin is an amazing game that attracts thousands of cricket lovers from all over the world. It allows participants to create their own team of professional players and compete with other teams in the virtual space.<br>
                        One of the main attractions of CrickWin is the opportunity to gain a unique experience of managing a team and taking an active part in the gameplay. Each participant can choose their strongest players, as well as determine the game strategy and team tactics.
                    </p>
                    <p class="d-none d-md-block">The graphics and sound design of the game are another of its important qualities. CrickWin developers pay special attention to detail, allowing players to fully immerse themselves in the virtual space and feel the atmosphere of a real cricket match.<br>
                        Our development team has worked diligently to create a unique cricket experience right on your mobile device. CrickWin App offers you endless opportunities to develop your skills and become a true star player! By downloading our application, you will immerse yourself in the realistic world of cricket, where every detail, from the surrounding atmosphere to the exciting competition, will make you feel like a real athlete. Using intuitive controls, you can control every shot, every touch of the ball, and your team's strategy.<br>
                        Top CrickWin is a platform that offers amazing sports fantasy games. Participation in these games involves some financial risk and may be addictive.<br>
                        The CRICK WIN platform is gaining popularity for several reasons, making it the preferred choice for cricket lovers.
                        <br><br>
                    </p>
                    <a href="#" class="btn btn-danger">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>


<%= render "shared/footer" %>


<style>
.h1_about_us {
    margin-bottom: 1rem;
}

.cont_about_us {
    margin-bottom: 7rem;
}

@media (max-width: 768px) {
    .p_about_us {
        font-size: 14px;
    }
    .cont_about_us {
        margin-bottom: 3rem;
    }
}

@media (max-width: 442px) {
    .p_about_us {
        font-size: 12px;
    }
    .cont_about_us {
        margin-bottom: 2rem;
    }
}


    .carousel_image{
      height:600px;
    }
     
    @media (max-width: 768px) {
      .carousel_image {
        height: 325px;
      }
    }
    .carousel-caption h1 {
      color: white; /* Change the color as needed */
      font-family: Geneva; /* Change the font family here */
    }

    .why_us_section .heading_container{
    	margin-top: 20px;
    }

    .why_us_section .box {
  margin-top: 45px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.why_us_section .box .img-box {
  background-color: #fa4952;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 125px;
  min-width: 125px;
  height: 125px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 100%;
}

.why_us_section .box .img-box img {
  width: 45px;
}

.why_us_section .box .detail-box {
  margin-top: 15px;
}

.why_us_section .box .detail-box h5 {
  font-weight: bold;
}

.why_us_section .box:hover .img-box {
  background-color: #f5f5f5
}

.why_us_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.why_us_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #fa4952;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  margin-bottom: 20px;
}

.why_us_section .btn-box a:hover {
  background-color: #f00712;
}
  </style>