<%= render "home/sidebar" %>
<section id="about" class="cont_about_us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center card-carousel-title">
                    <h1 class="section-header-title"> ABOUT <span style="color: #ff0066;">US</span> </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="about-img">
                    <img src="https://images.hindustantimes.com/rf/image_size_640x362/HT/p1/2015/08/02/Incoming/Pictures/1375594_Wallpaper2.jpg" alt="" class="img-fluid" style="height: auto; width: 100%; margin-top: 1rem;">
                </div>
            </div>
            <div class="col-lg-8 col-md-12 pl-1">
                <div class="about-content">
                    <h1 class="h1_about_us d-none d-md-block mt-3">WHAT USERS SAY ABOUT CRICK WIN</h1>
                    <h6 class="h1_bout_us d-md-none">We Provide Best Quality Service Ever</h6>
                    <p class="p_about_us">CrickWin is an amazing game that attracts thousands of cricket lovers from all over the world. It allows participants to create their own team of professional players and compete with other teams in the virtual space.<br>
                        One of the main attractions of CrickWin is the opportunity to gain a unique experience of managing a team and taking an active part in the gameplay. Each participant can choose their strongest players, as well as determine the game strategy and team tactics.
                    </p>
                    <p class="d-none d-md-block">The graphics and sound design of the game are another of its important qualities. CrickWin developers pay special attention to detail, allowing players to fully immerse themselves in the virtual space and feel the atmosphere of a real cricket match.<br>
                        Our development team has worked diligently to create a unique cricket experience right on your mobile device. CrickWin App offers you endless opportunities to develop your skills and become a true star player! By downloading our application, you will immerse yourself in the realistic world of cricket, where every detail, from the surrounding atmosphere to the exciting competition, will make you feel like a real athlete. Using intuitive controls, you can control every shot, every touch of the ball, and your team's strategy.<br>
                        Top CrickWin is a platform that offers amazing sports fantasy games. Participation in these games involves some financial risk and may be addictive.<br>
                        The CRICK WIN platform is gaining popularity for several reasons, making it the preferred choice for cricket lovers.
                        <br><br>
                    </p>
                    <a href="#" class="btn btn-warning">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
.h1_about_us {
    margin-bottom: 1rem;
}

.cont_about_us {
    margin-bottom: 7rem;
}

@media (max-width: 768px) {
    .p_about_us {
        font-size: 14px;
    }
    .cont_about_us {
        margin-bottom: 3rem;
    }
}

@media (max-width: 442px) {
    .p_about_us {
        font-size: 12px;
    }
    .cont_about_us {
        margin-bottom: 2rem;
    }
}
</style>
